---
import Layout from '@layouts/Default.astro';
import {Button, Card, Pill} from "@eliancodes/brutal-ui";
---

<Layout
        title='Lösung 3. Frage'
        description='Wer gehörte zu den 4 Frauen, die neben 61 Männern ab September 1948 das Grundgesetz erarbeiteten?'
        pageTitle='Brutal Blog'
        classList='bg-red'
>
    <script type="module" data-astro-rerun>
        const params = new URLSearchParams(window.location.search);
        const correct = true

        const main = document.getElementById("main");
        main.classList.add(correct ? "bg-green" : "bg-red-600");
    </script>

    <main id='main' class='p-6'>
        <section id='question' class='gap-8 mt-4'>
            <div>
                <Card>
                    <div class='flex flex-col justify-between items-start gap-4'>
                        <h1 class='mt-4 mb-6 outfit text-5xl lg:text-7xl'>
                            Wer gehörte zu den 4 Frauen, die neben 61 Männern ab September 1948 das Grundgesetz
                            erarbeiteten?
                        </h1>
                        <a href='https://de.wikipedia.org/wiki/M%C3%BCtter_des_Grundgesetzes'>
                            <Pill>Wikipedia</Pill>
                        </a>
                    </div>
                </Card>
            </div>
        </section>
        <section id='answers' class='grid md:grid-cols-4 xl:grid-cols-8 gap-4 lg:gap-8 mt-16 md:mt-6'>
            <div class='col-span-2'>
                <Card>
                    <p class='text-lg md:text-xl lg:text-3xl md:mb-4 dm-serif'>
                        Elisabeth Selbert
                    </p>
                    <a href='https://de.wikipedia.org/wiki/Elisabeth_Selbert'>
                        <Pill>Wikipedia</Pill>
                    </a>
                </Card>
            </div>
            <div class='col-span-2'>
                <Card>
                    <p class='text-lg md:text-xl lg:text-3xl md:mb-4 dm-serif'>
                        Helene Weber
                    </p>
                    <a href='https://de.wikipedia.org/wiki/Helene_Weber'>
                        <Pill>Wikipedia</Pill>
                    </a>
                </Card>
            </div>
            <div class='col-span-2'>
                <Card>
                    <p class='text-lg md:text-xl lg:text-3xl md:mb-4 dm-serif'>
                        Helene Wessel
                    </p>
                    <a href='https://de.wikipedia.org/wiki/Helene_Wessel'>
                        <Pill>Wikipedia</Pill>
                    </a>
                </Card>
            </div>
            <div class='col-span-2'>
                <Card>
                    <p class='text-lg md:text-xl lg:text-3xl md:mb-4 dm-serif'>
                        Frieda Nadig
                    </p>
                    <a href='https://de.wikipedia.org/wiki/Friederike_Nadig'>
                        <Pill>Wikipedia</Pill>
                    </a>
                </Card>
            </div>
        </section>
        <section id="navigation" class="grid md:grid-cols-4 mt-4 text-center">
            <Button target={'_self'} href='/question/4'>
                Nächste Frage
            </Button>
        </section>
    </main>
</Layout>
